./profil2024.pdf
*.xlsx
*.psd
*.txss
*.aux
*
!.gitattributes
!.gitignore
!readme.md
!.gitkeep
!*.tex
!*.csv
!*.png
!*.pdf
!*.py
!preamble_fotoKadin.jpg
*.bbl
*.blg
*.run.xml
*.bcf
*.synctex.gz
!*.bib
!*/
